body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #f0f0f1;
}
.main-card {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.main-card > p {
  position: absolute;
  top: 20px;
  right: -35px;
  background-color: red;
  padding: 10px 50px;
  margin: 0;
  transform: rotate(45deg);
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(203, 197, 197, 0.5);
}
.product-image img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.product-information {
  padding: 0 20px 20px 20px;
}
.title {
  margin: 5px 0;
  color: #34495e;
}
.price {
  color: red;
}
.product-description {
  color: rgb(105, 103, 103);
}
.cta-button {
  display: flex;
  justify-content: center;
  background-color: rgb(70, 70, 255);
  width: 100%;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  gap: 5px;
}
.cta-button:hover {
  background-color: rgb(8, 142, 8);
  color: #ffffff;
}
